<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CarTypeMapper">
	
	<select id="getCarTypeListCount" parameterType="pd" resultType="java.lang.Integer">
		SELECT count(*) from 
		(select lct.id,lct.`name`,lct.seat_num,lct.price,count(lci.id) as count from lxy_car_type lct 

		LEFT JOIN lxy_car_info lci  ON lci.car_type_id =  lct.id
		
		<where>
			<if test=" name != null and name !='' ">
				and name=#{name}
			</if>
			<if test="seatNum !=null and seatNum != '' ">
				and seat_num=#{seatNum}
			</if>
			<if test="price != null and price != ''">
				and price=#{price}
			</if>
		</where>
		
		GROUP BY lct.id ORDER BY lct.seat_num) tb
	</select>
	
	<select id="getCarTypeList" parameterType="pd" resultType="pd">
	 	select lct.id,lct.`name`,lct.seat_num as seatNum,lct.price,count(lci.id) as count from lxy_car_type lct 

		LEFT JOIN lxy_car_info lci  ON lci.car_type_id =  lct.id
		
		<where>
			<if test=" name != null and name !='' ">
				and name=#{name}
			</if>
			<if test="seatNum !=null and seatNum != '' ">
				and seat_num=#{seatNum}
			</if>
			<if test="price != null and price != ''">
				and price=#{price}
			</if>
		</where>

		GROUP BY lct.id ORDER BY lct.seat_num
		<if test="showLine != null and showLine !='' ">
			LIMIT ${startLine} , ${showLine}
		</if>
	</select>
	
	
	<insert id="save" parameterType="pd">
	
		insert into lxy_car_type(name,seat_num,price) values(#{name},#{seatNum},#{price})
		
	</insert>
	
	<delete id="delete" parameterType="java.lang.Long">
		delete from lxy_car_type where id=#{id}
	</delete>
	
	<select id="getCarTypeById" parameterType="java.lang.Long" resultType="pd">
		select id,name,seat_num as seatNum,price from lxy_car_type where id = #{id}
	</select>
	
	<update id="update" parameterType="pd">
		update lxy_car_type set name=#{name},seat_num=#{seatNum},price=#{price} where id=#{id}
	</update>
	
</mapper>

